body{
    padding-top: 70px;
}

/* LINE CODE STYLE */
.codeRow{
    /* padding-top: 0px;*/
    text-align: left;
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro", "Menlo", "Consolas", "Monaco", "monospace";
    font-size: 14px;
    padding-top: 5px;
    /*background-color: lightyellow;*/
}

.codeNumber{
    color: green; 
    border-right: 1px solid gray;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.codeText{
    padding-left: 20px;
    color: lightblue;
    float: left;   
    /*background-color: lightcoral;*/
}

.codeArea{
    background-color: black;
    min-height: 300px;
    overflow:auto
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



